
<h1>STUPID COACHING</h1>
<div class="card">
  <p><%=@question%></p>
  <p>---YOU</p>
</div>
<div class="card">
  <p><%=@answer%></p>
  <p>---YOUR COACH</p>
</div>
<div class="link">
  <%=link_to "Ask a new question", ask_path%>
</div>
